//Media breakpoint

@mixin media-breakpoint-sm {
    @media (max-width: 575.98px) {
        @content;
    }
}

@mixin media-breakpoint-md {
    @media (max-width: 767.98px) {
        @content;
    }
}

@mixin media-breakpoint-lg {
    @media (max-width: 991.98px) {
        @content;
    }
}

@mixin media-breakpoint-xl {
    @media (max-width: 1199.98px) {
        @content;
    }
}

// fonts

@mixin font-light() {
    font-weight: 300;
    font-style: normal;
}

@mixin font-light-italic() {
    font-weight: 300;
    font-style: italic;
}

@mixin font-regular() {
    font-weight: 400;
    font-style: normal;
}

@mixin font-regular-italic() {
    font-weight: 400;
    font-style: italic;
}

@mixin font-medium() {
    font-weight: 500;
    font-style: normal;
}

@mixin font-medium-italic() {
    font-weight: 500;
    font-style: italic;
}

@mixin font-bold() {
    font-weight: bold;
    font-style: normal;
}

@mixin font-bold-italic() {
    font-weight: bold;
    font-style: italic;
}

@mixin font-size-sm($size: 12px) {
    font-size: $size;
}

@mixin font-size-md($size: 14px) {
    font-size: $size;
}

@mixin font-size-lg($size: 18px) {
    font-size: $size;
}

// headings and texts

@mixin default-heading {

}

@mixin default-text {

}

// template elements

@mixin card-body {
    font-size: 14px;
    line-height: 16px;
    padding: 40px 30px 38px;
    @include media-breakpoint-sm {
        padding: 4rem 2rem 5rem;
    }
}

@mixin modal-body($background-color: '#fff', $shadow-color: #000, $border-color: 0) {
    background-clip: padding-box;
    background-color: $background-color;
    border-radius: 4px;
    box-shadow: 0 7px 22px 0 $shadow-color;
    outline: 0;
    pointer-events: auto;
    position: relative;
    width: 100%;
    @if ($border-color != 0) {
        border: 1px solid $border-color;
    }
}

@mixin form-control($default-border-color: #c9d5ea, $focus-border-color: #537cfd, $placeholder-color: #333) {
    border: 1px solid $default-border-color;
    border-radius: 4px;
    font-size: 14px;
    height: 46px;
    padding: 12px 16px;
    width: 100%;
    &:focus {
        border-color: $focus-border-color;
        box-shadow: none;
        outline: none;
    }
    &::placeholder {
        color: $placeholder-color;
        opacity: .5;
    }
}

@mixin oc-dropdown-menu($primary: #537cfd, $info: #c9d5ea) {
    border: 1px solid $info;
    left: 76px;
    padding: 0;
    top: 70px;
    transform: translate(0, 44px);
    width: 136px;

    .dropdown-item {
        border-bottom: 1px solid $info;
        @include font-size-md();
        padding: 14px 42px;
    }

    .dropdown-item:hover, .dropdown-item:focus {
        background-color: rgba(201, 213, 234, 0.1);
        box-shadow: 0 1px 0 $info;
        color: $primary;
        outline: none;
    }

    .dropdown-item:active {
        box-shadow: 0 1px 0 $info;
        color: $primary;
    }
}
