//Media breakpoint

@mixin media-breakpoint-sm {
  @media (max-width: 575.98px) {
    @content;
  }
}

@mixin media-breakpoint-md {
  @media (max-width: 767.98px) {
    @content;
  }
}

@mixin media-breakpoint-lg {
  @media (max-width: 991.98px) {
    @content;
  }
}

@mixin media-breakpoint-xl {
  @media (max-width: 1199.98px) {
    @content;
  }
}

// font settings

@mixin font-family-rubik($type: 'Medium') {
  font-family: 'Rubik-' + $type, sans-serif;
}

@mixin font-size-breakpoint($breakpoint: md) {
  @if $breakpoint == sm {
    font-size: 12px;
  } @else if $breakpoint == lg {
    font-size: 18px;
  } @else {
    font-size: 14px;
  }
}

// template elements

@mixin card-body {
  font-size: 14px;
  line-height: 16px;
  padding: 40px 30px 38px;
  @include media-breakpoint-sm {
    padding: 4rem 2rem 5rem;
  }
}

@mixin modal-body($background-color: '#fff', $shadow-color: #000, $border-color: 0) {
  background-clip: padding-box;
  background-color: $background-color;
  border-radius: 4px;
  box-shadow: 0 7px 22px 0 $shadow-color;
  outline: 0;
  pointer-events: auto;
  position: relative;
  width: 100%;
  @if($border-color != 0) {
    border: 1px solid $border-color;
  }
}

@mixin form-control($default-border-color: #c9d5ea, $focus-border-color: #537cfd, $placeholder-color: #333) {
  border: 1px solid $default-border-color;
  border-radius: 4px;
  font-size: 14px;
  height: 46px;
  padding: 12px 16px;
  width: 100%;
  &:focus {
    border-color: $focus-border-color;
    box-shadow: none;
    outline: none;
  }
  &::placeholder {
    color: $placeholder-color;
    opacity: .5;
  }
}
