.oc-align-baseline    { vertical-align: baseline; }
.oc-align-top         { vertical-align: top; }
.oc-align-middle      { vertical-align: middle; }
.oc-align-bottom      { vertical-align: bottom; }
.oc-align-text-bottom { vertical-align: text-bottom; }
.oc-align-text-top    { vertical-align: text-top; }