@import "./theme.scss";
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "Rubik-Black";
  font-weight: normal;
  src: url("~oc-ng-common-component/assets/fonts/Rubik-Black.ttf")
    format("truetype");
}

@font-face {
  font-family: "Rubik-BlackItalic";
  font-weight: normal;
  src: url("~oc-ng-common-component/assets/fonts/Rubik-BlackItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Rubik-Bold";
  font-weight: normal;
  src: url("~oc-ng-common-component/assets/fonts/Rubik-Bold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Rubik-BoldItalic";
  font-weight: normal;
  src: url("~oc-ng-common-component/assets/fonts/Rubik-BoldItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Rubik-Italic";
  font-weight: normal;
  src: url("~oc-ng-common-component/assets/fonts/Rubik-Italic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Rubik-Light";
  font-weight: normal;
  src: url("~oc-ng-common-component/assets/fonts/Rubik-Light.ttf")
    format("truetype");
}
@font-face {
  font-family: "Rubik-LightItalic";
  font-weight: normal;
  src: url("~oc-ng-common-component/assets/fonts/Rubik-LightItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Rubik-Medium";
  font-weight: normal;
  src: url("~oc-ng-common-component/assets/fonts/Rubik-Medium.ttf")
    format("truetype");
}
@font-face {
  font-family: "Rubik-MediumItalic";
  font-weight: normal;
  src: url("~oc-ng-common-component/assets/fonts/Rubik-MediumItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Rubik Regular";
  font-weight: normal;
  src: url("~oc-ng-common-component/assets/fonts/Rubik-Regular.ttf")
    format("truetype");
}

.font-light {
  font-family: "Rubik-Light";
}
.font-reg {
  font-family: "Rubik Regular";
}
.font-med {
  font-family: "Rubik-Medium";
}
.font-bold {
  font-family: "Rubik-Bold";
}
.font-s {
  font-size: 12px;
}
.font-m {
  font-size: 14px;
}
.font-l {
  font-size: 18px;
}
h1{
  font-size: 38px;
}
* {
  font-family: "Rubik Regular";
  font-size: 16px;
  font-weight: normal;
  // line-height: 16px;
}

a {
  color: $primary;
  &:hover {
    color: $primary;
    text-decoration: none;
  }
  &:focus {
    outline:none
  }
  b{
    font-size: inherit;
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik-Medium";
}

.cursor-pointer {
  cursor: pointer;
}

.form-group {
  margin-bottom: 1.5rem;
}
.form-control {
  border: 1px solid $info;
  border-radius: 4px;
  height: 46px;
  padding: 12px 16px;
  font-size: 14px;
}
.form-control:focus {
  box-shadow: none;
  border: 1px solid $primary;
}

.form-control::placeholder {
  opacity: 0.5;
  color: $body-color;
}

.invalid-feedback {
  color: $danger;
  font-size: 12px;
  display: block;
  margin-top: 6px;
}

.card.oc-card-with-border {
  margin: auto;
  width: 412px;
  border: 1px solid $info;
  border-radius: 4px;
  margin: auto;
  .card-body {
    padding: 40px 30px 38px;
    font-size: 14px;
    line-height: 16px;
  }
}

.sidebar {
  min-width: 255px;
  background-color: #f4f7fc;
  border-radius: 4px;
  h6 {
    padding: 16px 0;
    font-family: "Rubik-Medium";
    display: inline-block;
    line-height: 18px;
    margin-bottom: 0;
  }
  span {
    // padding: 14px 0;
    font-size: 14px;
    // display: inline-block;
    line-height: 18px;
  }
  .nav {
    .nav-item {
      padding: 11px 0;
      display: inline-block;
    }
  }
}
.file-upload-progress[type="primary"]{
  .progress {
    height: 4px;
    background-color: #c9d5ea;
  }
}

.file-upload-progress {
  .progress {
    height: 1px;
  }
}

.company-logo{
  width: 159px;
}

.invitation {
  margin-bottom: 20px !important;
}

.sign-up__text {
  margin-bottom: 0 !important;
}

/** buttons **/
.btn{
  font-size: 14px;
  padding: 10px 20px;
  min-width: 160px;
  min-height: 52px;
  border-radius: 4px;
  font-weight: 300;
  font-family: "Rubik-Medium";
}
.btn:focus{
  box-shadow: none !important;
  outline: none;
}
.btn:disabled{
  opacity: 0.35;
}
.btn-primary{
  background-color: $primary !important;
  border-color: $primary !important;
}
.btn-secondary{
  background-color: white !important;
  border-color: $info !important;
  color: $secondary !important;
}
.btn-link{
  color: $primary !important;
  text-align: left;
  text-decoration: none;
}
.btn-link:hover {
  text-decoration: none;
}
/** End buttons **/
.divider{
  border-top: 1px solid $info;
}
/** input password **/

oc-input, oc-password, oc-app-category-select , oc-select{
    &.ng-invalid{
      input.ng-touched, select.ng-touched , textarea.ng-touched{
        border-color: $danger;
      }
    }
    &.ng-invalid{
      &.ng-touched{
        input, select, button.ng-invalid , textarea{
        border-color: $danger;
      }
    }
  }
}

button, input{
  &.ng-invalid{
    &.ng-touched{
      border-color: $danger;
    }
  }
}


.toggle_password{
  float: right;
  margin-top: -31px;
  margin-right: 16px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  background: url(~oc-ng-common-component/assets/img/password-hide.svg) center center no-repeat;
  height: 16px;
  width: 16px;
}
.toggle_password.fa-eye-slash{
  background: url(~oc-ng-common-component/assets/img/password-show.svg) center center no-repeat;
}
/** input password **/
/** input radio **/

.custom-radio .custom-control-input ~ .custom-control-label{
  font-size: 14px;
  line-height: 28px;
  padding-left:4px;
}

.custom-radio .custom-control-input ~ .custom-control-label::after,
.custom-radio .custom-control-input ~ .custom-control-label::before {
  top: 0.35rem;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("/assets/img/radio.svg");
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: $primary;
    background-color: #ffffff;
}
/** input radio **/

/** input select **/

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Some browsers will not display the caret when using calc, so we put the fallback first */
  background: url(~oc-ng-common-component/assets/img/dropdown-icon.svg) white no-repeat 98.5%; /* !important used for overriding all other customisations */
  background: url(~oc-ng-common-component/assets/img/dropdown-icon.svg) white no-repeat calc(100% - 16px); /* Better placement regardless of input width */
}
/*For IE*/
select::-ms-expand { display: none; }

/** input select **/

.menu-edit{
  background: url(~oc-ng-common-component/assets/img/edit_icon.svg) left center no-repeat;
  background-position: 15px;
}
.menu-edit:hover{
  background: url(~oc-ng-common-component/assets/img/edit_icon_h.svg) left center no-repeat;
  background-position: 15px;
}
.menu-del{
  background: url(~oc-ng-common-component/assets/img/delete.svg) left center no-repeat;
  background-position: 15px;
}
.menu-del:hover{
  background: url(~oc-ng-common-component/assets/img/delete_h.svg) left center no-repeat;
  background-position: 15px;
}

.menu-suspend{
  background: url(~oc-ng-common-component/assets/img/suspend_icon.svg) left center no-repeat;
  background-position: 15px;
}
.menu-suspend:hover{
  background: url(~oc-ng-common-component/assets/img/suspend_icon_h.svg) left center no-repeat;
  background-position: 15px;
}
.menu-unsuspend{
  background: url(~oc-ng-common-component/assets/img/suspend_icon.svg) left center no-repeat;
  background-position: 15px;
}
.menu-unsuspend:hover{
  background: url(~oc-ng-common-component/assets/img/suspend_icon_h.svg) left center no-repeat;
  background-position: 15px;
}

.menu-submit{
  background: url(~oc-ng-common-component/assets/img/submit_icon.svg) left center no-repeat;
  background-position: 15px;
}
.menu-submit:hover{
  background: url(~oc-ng-common-component/assets/img/submit_icon_h.svg) left center no-repeat;
  background-position: 15px;
}

.popover{
  color: $body-color;
  .popover-body{
    font-size: 14px;
  }
}

.min-vw-auto {
  min-height: auto;
}

.min-vh-auto {
  min-width: auto;
}

.review {
  &__rate {
    height: 14px;
    & > span {
      font-size: 14px;
      display: inline-flex;
    }
  }
  &__progressbar {
    display: block;

    & .progress {
      height: 8px;
    }
  }
}
