$light-blue: #e6f3fc;
$body-color: #333333 !default; //this is the text color
$primary: #537cfd !default;
$secondary: #727272 !default;

$focus-border: #a9befe !default;
$danger: #ff6262 !default;
$info: #c9d5ea !default;
$light: #f4f7fc !default;
$yellow: #ffc820 !default;
$green-alert: #74b675 !default;
$black: #000 !default;
$white: #fff !default;
$dark: #343a40;
// apps status color indicator
$approved: #81cf7c !default;
$draft: #dcdcdc !default;
$pending: #69dbff !default;
$suspended: #f8be1c !default;
$rejected: #ff6262 !default;
$review: #537cfd !default;

$error-bg: #ffe0e0 !default;
$error: #6e2c2c !default;
$profile: #06b088 !default;

$gray: #ced4da !default;
$gray-600: #6c757d !default;

// username initials circle
$gradient-top: #eeebff;
$gradient-bottom: #f8f7ff;

$profile-gradient-top: #e8f0e7;
$profile-gradient-bottom: #f5fff4;
// rewriting of the bootstrap spacers
$spacer: 1rem;
$spacers: (
  0_5: (
    $spacer * .5
  ),
  1: $spacer,
  2: ($spacer * 2),
  3: (
    $spacer * 3
  ),
  4: (
    $spacer * 4
  ),
  5: (
    $spacer * 5
  ),
  6: (
    $spacer * 6
  ),
  7: (
    $spacer * 7
  ),
  8: (
    $spacer * 8
  )
);

@mixin root-prop($prop: null, $value: null) {
  @if ($prop and $value) {
    #{$prop}: $value;
  }
}

/* Variable for Image cropper*/
:root{
  @include root-prop(--root-prop, rgba(0, 0, 0, 0.5));
}
